<%- include('container/Header/Header') %>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <%- include('container/Sidebar/Sidebar') %>
            <div class="content">
                <%- include('container/Navbar/Navbar') %>
                    <div class="col-12">
                        <form action="/api/nhaxuatban" method="POST" id="them_nhaxuatban">
                            <div class="bg-light rounded h-au p-4">
                                <h3 class="mb-4">Thêm nhà xuất bản</h3>
                                <div class="form-floating mb-3">
                                    <input type="text" placeholder="Nhập tên nhà xuất bản" class="form-control" name="tennxb">
                                    <label> Nhập tên nhà xuất bản</label>
                                    <div class="pt-4">
                                    <div class="form-floating mb-3">
                                    <input type="text" placeholder="Nhập quốc gia" class="form-control" name="quocgia">
                                    <label> Nhập quốc gia</label>
                                    <div class="pt-4">
                                    <button type="submit" class="btn btn-primary">Thêm nhà xuất bản</button>
                                </div>
                        </form>
                    </div>
            </div>
            <%- include('container/Footer/Footer') %>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <%- include('container/JavaScript/JavaScript') %>