<%- include('container/Header/Header') %>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <%- include('container/Sidebar/Sidebar') %>
            <div class="content">
                <%- include('container/Navbar/Navbar') %>
                    <div class="col-12">
                        <form action="/api/sach" method="POST" id="them_sach" enctype="multipart/form-data">
                            <div class="bg-light rounded h-au p-4">
                                <h3 class="mb-4">Thêm sách</h3>
                                <div class="form-floating mb-3">
                                    <input type="text" placeholder="tên sách" class="form-control" name="ten">
                                    <label> Nhập tên sách</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" placeholder="tên sách" class="form-control" name="gia">
                                    <label>Giá</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" placeholder="tên sách" class="form-control" name="giamgia">
                                    <label>Giảm giá</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="file" placeholder="tên sách" class="form-control" name="hinh"
                                        accept="public/image/*"></input>
                                    <label>Hình</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" placeholder="tên sách" class="form-control" name="namxuatban">
                                    <label>Năm xuất bản</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" name="idnhaxuatban"
                                        aria-label="Floating label select example">
                                        <% for(var i=0; i < nhaxuatban.length; i++) { %>
                                            <option value="<%= nhaxuatban[i]._id %>">
                                                <%= nhaxuatban[i].tennxb %>
                                            </option>
                                            <% } %>
                                    </select>
                                    <label for="floatingSelect">Nhà Xuất Bản</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="floatingSelect" name="idtheloaisach"
                                        aria-label="Floating label select example">
                                        <% for(var i=0; i < theloaisach.length; i++) { %>
                                            <option value="<%= theloaisach[i]._id %>">
                                                <%= theloaisach[i].ten %>
                                            </option>
                                            <% } %>
                                    </select>
                                    <label for="floatingSelect">Thể Loại Sách</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" placeholder="tên sách" class="form-control" name="noidung">
                                    <label for="floatingTextarea">Nội dung</label>
                                </div>
                                <div class="pt-4">
                                    <button type="submit" class="btn btn-primary">Thêm sách</button>
                                </div>
                        </form>
                    </div>
            </div>
            <%- include('container/Footer/Footer') %>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <%- include('container/JavaScript/JavaScript') %>