<%- include('container/Header/Header') %>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <%- include('container/Sidebar/Sidebar') %>
            <div class="content">
                <%- include('container/Navbar/Navbar') %>
                    <div class="container-fluid pt-4 px-4">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Danh sách thể loại sách</h6>
                                <a href="/themtheloaisach">Thêm Thể Loại Sách</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table text-start align-middle table-bordered table-hover mb-0">
                                    <thead>
                                        <tr class="text-dark">
                                            <th>ID</th>
                                            <th scope="col">Tên thể loại sách</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i < theloaisach.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= i+1 %>
                                                </td>
                                                <td>
                                                    <%= theloaisach[i].ten %>
                                                </td>
                                                <td>
                                                    <!-- <a class="btn btn-sm btn-primary" href="">Chi tiết</a> -->
                                                    <a class="form-group btn btn-success" type="button">
                                                        <i class="fas fa-pen-square"></i>Sửa
                                                    </a>&ensp;
                                                    <a style="color:#fff;" class="form-group btn btn-danger xoatheloaisach"
                                                        type="button" data-id=<%=theloaisach[i]._id %> ><i
                                                            class="fas fa-trash"></i> Xóa
                                                    </a>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <%- include('container/Footer/Footer') %>
            </div>
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <%- include('container/JavaScript/JavaScript') %>